html, body
{

    height: 100%;
    margin: 0;
    padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main {
  margin: 20px 0px;
}

#thread > .first {
  margin-top: 40px;
}

.map {
  height: 200px;
  margin-left: 25%;
  margin-right: 80px;
  margin-bottom: 10px;
}

form {
  display:flex;
  justify-content: center;
  margin: 40px;
}

#button
{
    line-height: 20px;
    margin-left: 10px;
}

.progress
{
    margin-left: auto;
    margin-right: auto;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

#copyright {
  display: inline;
  text-align: center;
}
