[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
googlemaps = "*"
wikipedia = "*"
unidecode = "*"
stop-words = "*"
pytest = "*"
coverage = "*"
pytest-coverage = "*"
pytest-cov = "*"

[requires]
python_version = "3.8"
